# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# SQLite databases
app.db
*.sqlite3
*.db

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing & caches
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
